@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>League of Legend in South Korea</h1>
    <p class="lead">A list of South Korean teams and associated players and a sponsor for each team</p>
    <p><a href="http://petermcintyre.com/bti420/notes/mar18-mar21/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LOL South Korean Teams</h2>
        <p>You would see a list of teams in a current league in South Korea</p>
        <p>As soon as you click it, you would see some of infomation about teams such as Name, Sponsor, Coach Name, and Logo</p>
        <p>If you click details link, you would see more infomation such as a list of players in one specific team, Team Code, Created Date, and Rank</p>
    </div>
    <div class="col-md-4">
        <h2>LOL South Korean Players</h2>
        <p>You would see a list of players in a current league in South Korea</p>
        <p>Once you click the link, you would see some infomation about players such as Nickname(Game Name), Name, and Position(Role)</p>
        <p>If you click details link, you would see more information such as a name of a team one specific player belongs, Team Code, Team Name, and Logo</p>
    </div>
    <div class="col-md-4">
        <h2>LOL Sponsor</h2>
        <p>You would see a list of sponsors for teams in a current league in South Korea</p>
        <p>If you click the link, you would see some information about sponsors such as names of company, and its type of job</p>
        <p>Once you click details link, you would see more infomation such as a team that one specific sponsor is sponsoring, and a logo of the team</p>
    </div>
</div>